src/Microsoft.Flow/flows/d4c05bd7-e6b9-4c58-8808-b3cadc507d32/definition.json
{"name":"23b1c9cc-f1aa-4164-8014-74d19c666c32","id":"/providers/Microsoft.Flow/flows/23b1c9cc-f1aa-4164-8014-74d19c666c32","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Create a new project","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"06d70b48-40dd-4f1d-8e6d-b8f05a227dd3","type":"User","tenantId":"7841bfbd-a37c-4a96-8556-31026a49cffd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-02-18T16:04:13.2363586Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"26085686-694b-49af-b71c-6704f6067991"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Project Name","type":"string","x-ms-dynamically-added":true,"description":"Project Name","x-ms-content-hint":"TEXT"},"text_1":{"title":"Description","type":"string","x-ms-dynamically-added":true,"description":"Project description","x-ms-content-hint":"TEXT"},"key-button-date":{"title":"Data","type":"string","x-ms-dynamically-added":false},"location":{"type":"object","properties":{"fullAddress":{"title":"Indirizzo completo","type":"string","x-ms-dynamically-added":false},"address":{"type":"object","properties":{"countryOrRegion":{"title":"Paese","type":"string","x-ms-dynamically-added":false},"city":{"title":"Città","type":"string","x-ms-dynamically-added":false},"state":{"title":"Provincia","type":"string","x-ms-dynamically-added":false},"street":{"title":"Via","type":"string","x-ms-dynamically-added":false},"postalCode":{"title":"Codice postale","type":"string","x-ms-dynamically-added":false}},"required":["countryOrRegion","city","state","street","postalCode"]},"coordinates":{"type":"object","properties":{"latitude":{"title":"Latitudine","type":"number","x-ms-dynamically-added":false},"longitude":{"title":"Longitudine","type":"number","x-ms-dynamically-added":false}},"required":["latitude","longitude"]}}},"text_2":{"title":"Team","type":"string","x-ms-dynamically-added":true,"description":"Email address separated by comma","x-ms-content-hint":"TEXT"},"text_3":{"title":"Azure Organization","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","key-button-date","location","text_2","text_3"]},"headersSchema":{"x-ms-user-name-encoded":{"title":"Nome utente","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Create_a_team":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a9e400ee-fb93-4ac9-8819-00b2737e6422"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"CreateATeam"},"parameters":{"body/displayName":"@triggerBody()['text']","body/description":"@triggerBody()['text_1']","body/visibility":"Private"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_DevOps_project":{"runAfter":{"Create_a_team":["Succeeded"]},"metadata":{"operationMetadataId":"b6f18385-2132-47ab-b9ae-8743072b5117"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","connectionName":"shared_visualstudioteamservices","operationId":"HttpRequest"},"parameters":{"account":"MLorganization","parameters/Method":"POST","parameters/Uri":"https://dev.azure.com/@{triggerBody()['text_3']}/_apis/projects?api-version=7.0","parameters/Body":"{\n  \"name\": \"@{triggerBody()['text']}\",\n  \"description\": \"@{triggerBody()['text_1']}\",\n  \"capabilities\": {\n    \"versioncontrol\": {\n      \"sourceControlType\": \"Git\"\n    },\n    \"processTemplate\": {\n      \"templateTypeId\": \"6b724908-ef14-45cf-84f8-768b5384da45\"\n    }\n  }\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_Sharepoint_folders":{"runAfter":{"Set_project_id":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fFolder%2bTree%252fGeneral":"/Shared Documents/Folder Tree/General","operationMetadataId":"f1716fbd-5ff4-4dbb-9ea2-7ef9163f6760"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFolderAsync"},"parameters":{"dataset":"https://crm012400.sharepoint.com/sites/Template","parameters/sourceFolderId":"%252fShared%2bDocuments%252fFolder%2bTree%252fGeneral","parameters/destinationDataset":"https://crm012400.sharepoint.com/sites/@{replace(triggerBody()['text'],' ','')}","parameters/destinationFolderPath":"/Shared Documents","parameters/nameConflictBehavior":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"60517e0c-5314-4728-bacc-b6a235d08046"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailArray","type":"array","value":"@split(triggerBody()?['text_2'],',')"}]}},"List_projects":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"d6b57903-de0d-47a7-b150-82c9a8b09189"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","connectionName":"shared_visualstudioteamservices","operationId":"ListProjects"},"parameters":{"account":"@triggerBody()['text_3']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Init_json_object":{"runAfter":{"List_projects":["Succeeded"]},"metadata":{"operationMetadataId":"b1938650-2f76-43d0-9d39-0cee678b9d48"},"type":"InitializeVariable","inputs":{"variables":[{"name":"JsonObject","type":"object","value":"@body('List_projects')"}]}},"Json_to_array":{"runAfter":{"Init_json_object":["Succeeded"]},"metadata":{"operationMetadataId":"2871e408-7c97-4d63-9735-58329b0fb312"},"type":"InitializeVariable","inputs":{"variables":[{"name":"JsonArray","type":"array","value":"@variables('JsonObject').value"}]}},"Findfirst":{"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"29f833d5-0e03-4e8a-9ccd-b9cde5d45ba0"},"type":"Compose","inputs":"@first(body('Filter_array'))"},"Filter_array":{"runAfter":{"Json_to_array":["Succeeded"]},"metadata":{"operationMetadataId":"3ddd5ae2-5f48-4bdc-88c3-b62829afea14"},"type":"Query","inputs":{"from":"@variables('JsonArray')","where":"@equals(item()?['name'], triggerBody()['text'])"}},"Parse_json":{"runAfter":{"Findfirst":["Succeeded"]},"metadata":{"operationMetadataId":"a8bd9aa9-a214-411d-91e9-23f847570e21"},"type":"ParseJson","inputs":{"content":"@outputs('Findfirst')","schema":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"}}}}},"Set_project_id":{"runAfter":{"Parse_json":["Succeeded"]},"metadata":{"operationMetadataId":"7b487cd5-ae96-4718-9a08-83fc7a32500d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProjectId","type":"string","value":"@body('Parse_json')?['id']"}]}},"Delay":{"runAfter":{"Create_DevOps_project":["Succeeded"]},"metadata":{"operationMetadataId":"54b48b79-a36b-46cf-8f63-bdd68f4f7faa"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Create_permissions_and_send_mail":{"foreach":"@variables('EmailArray')","actions":{"Add_a_member_to_a_team":{"runAfter":{},"metadata":{"operationMetadataId":"5e1d15b2-5df3-4560-af9f-f552e0ef2d59"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"AddMemberToTeam"},"parameters":{"teamId":"@outputs('Create_a_team')?['body/newTeamId']","body/userId":"@items('Create_permissions_and_send_mail')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_a_member_to_DevOps":{"runAfter":{"Add_a_member_to_a_team":["Succeeded"]},"metadata":{"operationMetadataId":"f1ef9a11-0913-42ab-94c0-f59a3f857697"},"type":"Http","inputs":{"method":"POST","uri":"https://vsaex.dev.azure.com/@{triggerBody()['text_3']}/_apis/userentitlements?api-version=7.0","body":{"accessLevel":{"accountLicenseType":"express"},"extensions":[{"id":"ms.feed"}],"user":{"principalName":"@{items('Create_permissions_and_send_mail')}","subjectKind":"user"},"projectEntitlements":[{"group":{"groupType":"projectContributor"},"projectRef":{"id":"@{variables('ProjectId')}"}}]},"authentication":{"type":"Basic","username":"MLorganization","password":"55pcfun3pbpfehoy4zeedtkxqflvwc2dneqo5zf7lk6ireplrkka"}},"description":"the token will expire in one year."},"Send_an_email":{"runAfter":{"Add_a_member_to_DevOps":["Succeeded"]},"metadata":{"operationMetadataId":"4cba8e2a-9a7f-4c3f-8cb6-ac8b311e631f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@items('Create_permissions_and_send_mail')","emailMessage/Subject":"@{triggerBody()['text']} - New project!","emailMessage/Body":"<p>Hey there,<br>\n<br>\nExciting news! We're starting a new project, @{triggerBody()['text']}, and I wanted to give you a heads up on some important info. <br>\n<br>\nHere's what you need to know:<br>\n<br>\n<strong>Teams Group: </strong>@{triggerBody()['text']} Team<br>\n<strong>SharePoint Access: </strong>All team members have access to the @{triggerBody()['text']} SharePoint site.<br>\n<strong>DevOps Access:</strong> @{body('Parse_json')?['url']}.<br>\n<br>\nCheers,<br>\nProject Bot<br>\n<br>\n<br>\n<br>\n<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Create_Sharepoint_folders":["Succeeded"]},"metadata":{"operationMetadataId":"2bab471b-2333-4013-be1e-20d7fc2b9dc8"},"type":"Foreach"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-f1052c5f-4a30-4f21-8cf8-5994a2780905","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_visualstudioteamservices":{"connectionName":"shared-visualstudiot-3a815f22-53e7-43a4-b074-dadd86915887","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_visualstudioteamservices","tier":"NotSpecified"},"shared_sharepointonline":{"connectionName":"shared-sharepointonl-10c3f74a-431b-4faa-ac91-4dc37259d6d6","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-b38b62ae-205a-477f-b681-ccf2bedec2f2","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}